<div class="container-fluid">
    <div class="row mt-4 mb-5">
        <div class="col-lg-8">
            <div class="row justify-content-center p-3">
                <div class="col-lg-8 p-4">
                    <h4 class="text-center">Selecciona tus boletos</h4>
                    <p class="text-center">Puedes comprar 10 boletos máximo por transacción.</p>
                    <div class="row">
                        <h4 class="text-center">TRADICIONAL</h4>
                        <div class="col-4">
                            <p>NIÑOS</p>
                            <p>3 ERA EDAD</p>
                            <p>INTERNET NORMAL</p>
                        </div>
                        <div class="col-lg-2">
                            <p>$4.400</p>
                            <p>$4.400</p>
                            <p>$4.500</p>
                        </div>
                        <div class="col-lg-1 text-center">
                            <p>0</p>
                            <p>0</p>
                            <p>0</p>
                        </div>
                        <div class="col-lg-3">
                            <button class="btn btn-primary">-------</button>
                            <button class="btn btn-secondary">+</button>
                            <button class="btn btn-primary">-------</button>
                            <button class="btn btn-secondary">+</button>
                            <button class="btn btn-primary">-------</button>
                            <button class="btn btn-secondary">+</button>
                        </div>
                    </div>
                    <div class="row mt-5 justify-content-center">
                        <div class="col-lg-12">
                            <button class="btn btn-primary text-center d-block mx-auto p-2" style="border-radius: 50px; width: 300px;">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-2" style="border-left: 1px solid rgb(155, 152, 152);">
            <h5 class="m-3" style="border-bottom: 1px solid rgba(177, 174, 174, 0.548); padding-bottom: 30px;">Resumen de compra</h5>
            <div class="row mx-auto p-2 mt-4 mb-4">
                <img class="m-3" src="../../../assets/peli3.jpeg" alt="image.jpg" style="width: 108px; height: 120px; object-fit: cover; object-position: center;">
                <div class="col m-2" style="line-height: 7px;">
                    <p class="mt-4">Película: Test</p>
                    <p>Complejo: Test</p>
                    <p>Fecha: Test</p>
                    <p>Función: Test</p>
                </div>
            </div>
            <h4 class="m-3 p-4 text-center" style="border-top: 1px solid rgba(177, 174, 174, 0.548);">Total (IVA incluido): $0</h4>
        </div>
    </div>
</div>