<div class="container">
    <app-carousel></app-carousel>
    <div class="row justify-content-center p-3 mt-5 mb-5">
        <div class="col-lg-2 m-2 mb-4">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="cartelera.jpg">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2 mb-4">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2 mb-4">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
        <div class="col-lg-2 m-2">
            <div class="tex-center">
                <img src="../../../assets/starwars.jpg" alt="">
                <button class="btn btn-dark btn-entrada">Compra tu entrada</button>
            </div>
        </div>
    </div>
</div>
